v-text {
	input {
		display: inline-block;
		height: 30px;
		max-width: 150px;
		color: #02394A;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		padding: 0 12px;
		outline: none;
	}
}