.hide {
    display: none !important;
}

.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin custom-scrollbar($bg: #142328, $fg: #295666) {
    &::-webkit-scrollbar {         
        background-color: $bg;
        width: 10px;
        box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb:window-inactive,
    &::-webkit-scrollbar-thumb {
        background: $fg;

        &:hover {
            background: lighten($fg, 5%);
        }
    }
}