@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:700');
@import "./utilities";

body {
    @include custom-scrollbar(#EFF1F3, darken(#EFF1F3, 50%));
    
    margin: 0;
    padding: 0 0 24px 0;
    width: 100%;
}

* {
    cursor: default;
    box-sizing: border-box;
    -webkit-user-select: none;
    font-family: Lato;
}

a, img {
    -webkit-user-drag: none;
}

a, button {
    &, & * {
        cursor: pointer;
        outline: none;
    }
}

input[type=text], input[type=password] {
    cursor: initial;
}

header {
    display: block;
    height: 40px;
    line-height: 40px;
    background: rgb(49, 178, 74);
    opacity: 0.75;
    padding: 0 24px;
    margin: 24px 0;
    font-weight: 900;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    text-transform: uppercase;

    &:first-child {
        margin-top: 0;
    }
}

table {
    table-layout: fixed;
    font-size: 14px;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;

    td, th {
        font-size: 14px;
        vertical-align: middle;
        padding: 1px 0 0 24px;
        text-align: left;
        margin: 0;

        &:last-child {
            padding-right:  24px;
        }

    }

    thead {
        th {
            color: rgba(41, 86, 102, 0.5);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 10px;
            letter-spacing: 2px;
            height: 45px;
            border-bottom: 2px solid #e9ebed;
        }
    }

    tr {
        td {
            height: 45px;
            border-bottom: 1px solid #e9ebed;
            font-size: 12px;
            color: #295666;
            letter-spacing: 0.76px;
        }
    }
}